/*******---- Estructura CSS ----*******/

/****** INICIO Reset CSS ******/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****** FIN Reset CSS ******/

/*-- Estructura ------------------------*/


/*-- Tipografias -----------------------*/


/*-- Estetica --------------------------*/


/*-- Media Queries Responsiu -----------*/




/*-- Notas varias ----------------------*/

/* En CSS hay 4 pseudo-estados y un 5to extra de una url, 1- link, 2- visited, 3- hover, 4- active y 5- focus. Cada una significa una cosa diferente, un estado o actuacion sobre el mismo link, y se podra diferenciar por colores, segun como se quiera ver. */ 
/* En CSS el diseny es de dalt a abaix, de movil a pantalla de pc, pasant per tab i portatil */
/* Apuntes de CSS aplicados en HTML*/
/* Se pone el elemento, seguido por { } y dentro los atributor a cambiar */